

.DashboardWrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    
}

.SidebarWrapper{
    height: 100vh;
    width: 20vw;
}

.DashWrapper{
    display: flex;
    width: 100%;
    padding: 20px;
    /* border: 1px solid red; */
}

.DashLeftSection{
    width: 80%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;


}

.DashRightSection{
    display: flex;
    height: 100%;
    width: 100%;

}