
.ELWrapper{
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100%;
    background-color: #131519;
    border: 1px solid rgb(44, 43, 43);

    border-radius: 15px;
    padding: 15px;
}


.ELHeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid red; */
}