
.GOWrapper{
    display: flex;
    flex-direction: column;
    width: 30vw;

    background: linear-gradient(45deg, #2A1E52, #4305B4);

    border-radius: 15px;
    padding: 15px;
}

.GOContainer{
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #7732f7;
    border-radius: 15px;
}

.DashHeader{
    font-size: 1.4rem;
    font-weight: 400;
}

.GOBalance{
    display: flex;
    align-items: center;
    gap: 10px;
}

.ETHValue{
    color: rgb(165, 165, 165);
    font-size: 0.9rem;
}