
.SidebarContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: linear-gradient(90deg, #000000, #131519);
    border-radius: 15px;
    
}

.header{
    padding-left: 20px;

}

.seperator{
  height: 2vh;
  width: 100%;
  border-bottom: 1px solid #363636;
  margin-bottom: 20px;
}

.GRPbtn button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  margin-bottom: 20px;
  font-size: 1em;
  font-family: inherit;
  background: linear-gradient(45deg, #2A1E52, #4305B4);
  cursor: pointer;
  transition: border-color 0.25s;
  
}

.GRPbtn button:hover {
  border-color: #6200ff;
}


.SBcontentContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;

}

.SBTopSection{
  display: flex;
  flex-direction: column;
  align-items: center;



}

.SBFooterSection button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  margin-bottom: 20px;
  font-size: 1em;
  font-family: inherit;
  background: linear-gradient(45deg, #2A1E52, #4305B4);
  cursor: pointer;
  transition: border-color 0.25s;
  
}

.SBFooterSection button:hover {
  border-color: #6200ff;
}




.SBFooterAccountInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footerHeaderText{
  margin: 0;
  font-size: 0.8rem
}

.footerText{
  margin: 0;
}

.groupList h4{
  font-size: 1.2rem;
  margin: 0;
}

.groupList{
  display: flex;
  flex-direction: column;
  align-items: center;
}